snippet log "console log"
console.log(${1:'this'});
endsnippet


snippet fun "function"
function ${1:fn}(${2:p}) {
	
}
endsnippet

snippet d "debugger"
debugger;
endsnippet

snippet c "log counter"
console.log((!window.a && (window.a=0), a++));
endsnippet
